.card {
 color: white;
 padding: 5px 10px;
 width: 95%;
 justify-content: center;
 margin: 30px auto;
 border-radius: 16px;
 background: rgb(232, 172, 21);
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(5.4px);
 -webkit-backdrop-filter: blur(5.4px);
 border: 1px solid rgba(50, 38, 38, 0.16);
 .title {
  font-size: 50px;
 }

 .total-num {
  font-size: 20px;
  font-weight: bold;
 }

 .numOfQues {
  .current-num {
   font-size: 25px;
  }
  .details {
   display: flex;
   flex-direction: row;
   gap: 10px;
   justify-content: space-between;
   padding: 5px;

   .detail {
    font-size: 20px;
    span {
     font-style: italic;
     font-size: 17px;
    }
   }
  }
 }
 .triviaArea {
  margin: 5px 0 20px 0;
  width: 100%;
  p {
   font-size: 25px;
   width: 100%;
   padding: 20px 0;
   line-height: 1.4;
   text-align: center;
  }

  .option-list {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   row-gap: 20px;
   column-gap: 30px;
   list-style: none;

   .green-button {
    color: green;
   }

   .red-button {
    color: red;
   }
   .normal-button {
    background-color: white;
    width: 380px;
    height: 80px;
    padding: 8px;
    margin: 24px;
    // color: orange;
    font-weight: bolder;
    font-size: larger;
    border-radius: 10px;
    outline: none;
    border: none;
    justify-content: center;

    &:hover{
      transform: scale(1.1);
      transition: transform 200ms ease-in-out;
      cursor:pointer;
    }
   }
  }
 }

 button {
  padding: 10px 25px;
  outline: none;
  border: 2px solid transparent;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
  &:hover {
   border: 3px solid rgb(85, 155, 133);
  }
 }
}
