* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

#root {
 text-align: center;
}

.App {
 // background: rgba(16, 56, 88, 0.33);
 padding: 5px 20px;

 .title{
  font-size: 35px;
  padding: 10px 0;
 }

 .total-num{
  font-size: 25px;
 }

 .pre-load{
  padding: auto;
  font-size: 40px;
  font-style: italic;
  font-stretch: semi-condensed;
 }
}
